# Vivado Project Files
*.xpr
*.jou
*.log
*.str
*.zip
*.dcp
*.bit
*.hdf
*.mmi
*.bin
*.pdi

# Vivado Directories
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/

# Python Virtual Environments & Pycache
__pycache__/
*.pyc
.env
venv/

# IDE files
.vscode/
.idea/

# Log and data outputs
/data/
*.csv

# Ignored by user request
*paper*abstract*.txt
*.tcl
*vivado_block_design_guide*

# AI Debug files
claude_agent.py
*.txt
post_processing_research.md

# Ignore imported qkd_fso-main project
qkd_fso-main/

# Backup files
*.bak
